/* PUT FLUID GRID CODE HERE */



.colm-colm2-3 {
  margin: 0;
  float: right;
  width: 60%;
}

.colm-colm1-3 {
  margin: 0;
  float: left;
  width: 30%;
}




.top-page {
  float: center;
  width: 100%;
}
